
#PermitScreen,
#SearchSelect,
#CurrentPermitData,
#PermitSelectContainer,
#Searching,
#SearchFailed,
#NoPermit,
#Scheduler,
#SearchFailed {
  display: none;
}

#PermitSelect {
  max-width: 16rem;
  min-width: 8rem;
  padding-right: 28px;
  min-height:50px;
  font-size:130%

}


.button {
  font-weight: bold;
  background-color: #3e9571;
}
.button:hover {
  background-color: #27ce89;
}
select > .selectPlaceholder {
  display: none;
}

@font-face {
    font-family: '[set]Foundicons';
    src: url('fonts/[set]_foundicons.eot');
    src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'), url('fonts/[set]_foundicons.woff') format('woff'), url('fonts/[set]_foundicons.ttf') format('truetype'), url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.foundicon-{
    display: inline;

    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

    .foundicon-:before {
        font-family: "[set]Foundicons";
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
    }
.SearchCard{
    background-color:cadetblue;
    border:none;
}

.MyLabel {
  color: white;
  color: rgba(256,256,256, .9);
  background-color: #890ACC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: .5rem;
  line-height: 1.4;
  padding-bottom: .5rem;
  font-size: 1.25rem;
}
.infoDiv {
    background-color: white;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom:.5rem;
}


details{
  text-wrap:none;
  overflow:visible;
}

.SuspendDiv {
  background-color:lightpink;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .5rem;
}
span.prefix, label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333;
  border-color: #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
}

.prefix, .postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}


.small-12 div#sandbox-container {
  margin-bottom: 20px;
}


#sandbox-container table, tbody, table tfoot{
  border: none;
  background-color: white;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: none;
  line-height: .85;
}

.datepicker {
  border-radius: 0px;
  direction: ltr;
  display: table;

}

  .datepicker table tr td {
    background-color: #3e9571;
    color: white;
    color: rgba(256,256,256, .8);
  }

    .datepicker table tr td.day:hover {
      background-color: #27ce89;
      color: white;
      color: rgba(256,256,256, .8);
    }

    .datepicker table tr td.active.day {
      background-color: #3e9571;
      max-width: 20rem;
    }


  .datepicker-switch, .prev, .next{
    background-color: #3e9571;
    color: white;
    border-radius: 0;
    line-height:1.25;
  }

.datepicker .datepicker-switch:hover{
  background-color: #3e9571;

}

.datepicker table tr td.active.active:hover,
.datepicker .prev:hover,
.datepicker .next:hover {
  background-color: #27ce89;
}

.datepicker table tr td, .datepicker table tr th {
  border-radius: 0;
}

table tbody, table tfoot, table thead {
  border: 0;
}

.datepicker table tr td.active:active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active {
  color: white;
  background-color: #59b790;
  border-color: #3e9571;
}

.datepicker table tr td.active:hover, 
.datepicker table tr td.active.highlighted :hover{
  color: white;
  background-color: #3e9571;
  border-color: #3e9571;
}

.datepicker-inline{
  width:100%;
}
.App-Container {
  min-height: calc(100% - .top-bar);
  min-width: 300px;

}
.TypeSelectOption{
  margin-left:2rem;
}


.InspBorderBottom {
  border-bottom: 2px solid;
  border-bottom-color: rgba(0,0,0,.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
#NotScheduled {
  background-color: lightpink;
  padding:1rem;
  font-weight: bold;
}
.datepicker table tr td.disabled {
  background-color: lightgray;
  color: rgba(256,256,256, .4);
}

  .datepicker table tr td.disabled:hover {
    background-color: lightgray;
    color: rgba(256,256,256, .4);
  }

.SuspendDiv2 {
  background-color: lightpink;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .5rem;
  height: 30rem;
}
.inspRemarks {
  padding: 0px 50px;
  color: #bd3f52;
}
.PermitSelectDiv {
  padding-top:3.5rem;
}.PermitSelectDiv,
.PermitAddressDiv {
  min-height: 10.25rem;
}
.CloseIssueListButton{
max-height:30px;
max-width:30px;
font-size:27px;
outline-color:none;
}
  .CloseIssueListButton:focus {
    outline: none;
    outline-color: black;
    border: none;
  }
  .CloseIssueListButton:active {
    outline: none;
    outline-color: black;
    border:none;
  }
