html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.column, .columns {
  min-height: 1px;
}

.inspector-link {
  display: none;
}
/*
#PermitScreen,

*/
#InspectionTable {
  display: none;
}

#SearchSelect,
#CurrentPermitData,
#PermitSelectContainer,
#Searching,
#SearchFailed,
#NoPermit,
#SearchFailed
{
  display: none;
}

#isDevelopment {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

#InspectionScheduler {
  display: none;
}

#SaveConfirmed {
  display: none;
  margin-top: 1.5em;
}

.ButtonContainer {
  padding: 0 1rem 0 1rem;
}

#PermitSelect {
  max-width: 16rem;
  min-width: 8rem;
  padding-right: 28px;
  height: 50px;
  font-size: 130%
}

.NewInspButton {
  height: 20px;
  background-color: #3e9571;
  color: white;
  cursor: pointer;
}

.DetailsButton {
  min-height: 20px;
  background-color: #3e9571;
  color: white;
  cursor: pointer;
  margin-top: 6px;
  text-align: center;
}

  .DetailsButton.disabled, .DetailsButton[disabled] {
    opacity: .25;
    cursor: not-allowed;
  }

button {
  font-weight: bold;
  background-color: #3e9571;
  margin: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #27ce89;
}


select > .selectPlaceholder {
  display: none;
}

#InspListData {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 0;
  margin: 1rem;
}

@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'), url('fonts/[set]_foundicons.woff') format('woff'), url('fonts/[set]_foundicons.ttf') format('truetype'), url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.foundicon- {
  display: inline;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

  .foundicon-:before {
    font-family: "[set]Foundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
  }

.SearchCard {
  background-color: cadetblue;
  border: none;
}

.MyLabel {
  color: black;
  color: rgba(0,0,0,.7);
  background-color: lightsteelblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: .5rem;
  line-height: 1.4;
  padding-bottom: .5rem;
  font-size: 1.25rem;
}

.infoDiv {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


details {
  text-wrap: none;
  overflow: visible;
}

.SuspendDiv {
  background-color: lightpink;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .5rem;
}

span.prefix, label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333;
  border-color: #ccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
}

.prefix, .postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

.small-12 #sandbox-container {
  margin-bottom: 20px;
}


#sandbox-container table, tbody, table tfoot {
  border: none;
  background-color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: none;
  line-height: .85;
}

.datepicker {
  border-radius: 0;
  direction: ltr;
  display: table;
}

  .datepicker table tr td.old,
  .datepicker table tr td,
  .datepicker table tr td.new,
  .day {
    color: white;
  }

    .datepicker table tr td, .datepicker table tr td.new {
      background-color: #3e9571;
    }

      .datepicker table tr td.day:hover {
        background-color: #27ce89;
      }

      .datepicker table tr td.active.day {
        background-color: #3e9571;
        max-width: 20rem;
      }


.datepicker-switch, .prev, .next {
  background-color: #3e9571;
  color: white;
  border-radius: 0;
  line-height: 1.25;
}

.datepicker .datepicker-switch:hover {
  background-color: #3e9571;
}

.datepicker table tr td.active.active:hover,
.datepicker .prev:hover,
.datepicker .next:hover {
  background-color: #27ce89;
}

.datepicker table tr td, .datepicker table tr th {
  border-radius: 0;
}

table tbody, table tfoot, table thead {
  border: 0;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  color: white;
  background-color: #59b790;
  border-color: #3e9571;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active.highlighted :hover {
  color: white;
  background-color: #3e9571;
  border-color: #3e9571;
}

.datepicker-inline {
  width: 100%;
}

.top-bar {
  height: 5em;
}

.TypeSelectOption {
  margin-left: 2rem;
}

#NoInspections {
  background-color: lightpink;
  padding: 1rem;
  font-weight: bold;
  margin-top: 2em;
  text-align: center;
}

#NotScheduled {
  background-color: lightpink;
  padding: 1rem;
  font-weight: bold;
  margin-top: 2em;
}

.datepicker table tr td.disabled {
  background-color: lightgray;
  color: rgb(104, 104, 104);
  color: rgba(255,255,255, .4);
}

  .datepicker table tr td.disabled:hover {
    background-color: lightgray;
    color: rgb(104, 104, 104);
    color: rgba(255,255,255, .4);
  }

/*.SuspendDiv2 {
  background-color: lightpink;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .5rem;
  height: 30rem;
}*/

.inspRemarks {
  color: #bd3f52;
  min-height: 1px;
}

.PermitSelectDiv,
.PermitAddressDiv {
  min-height: 2rem;
}

#PermitInfoDiv {
  margin-top: 1rem;
}

.CloseIssueListButton {
  max-height: 30px;
  max-width: 30px;
  font-size: 27px;
  outline-color: none;
  text-align: right;
}

  .CloseIssueListButton:hover {
    cursor: pointer;
  }

#NoInspections {
  display: none;
}

h2 {
  font-size: 2.5em;
}

h5 {
  font-size: 1.25em;
  font-weight: 500;
}

.InspPermit,
.InspType,
.InspInspector,
.InspDate,
.InspResult {
  border-right: 1px solid lightgrey;
  padding-left: 1rem;
}

.CancelRow, .InspRow {
  padding: 1rem;
  border-left: 10px solid mediumpurple;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.NoInspRow {
  border-left: 10px solid mediumpurple;
}

.FailRow {
  border-left: 10px solid indianred;
}

.PassRow {
  border-left: 10px solid darkseagreen;
}

.inspRemarks {
  border-right: 1px solid lightgrey;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.tabs-title > a {
  font-size: 1.25em;
  line-height: 1.25em;
  padding: .5em 1em;
}

@media (max-width: 639px) {


  h2 {
    font-size: 1.75em;
  }

  .NewInspButton {
    height: 20px;
    background-color: #3e9571;
    color: white;
    cursor: pointer;
  }

  .DetailsButton {
    min-height: 20px;
    background-color: #3e9571;
    color: white;
    cursor: pointer;
  }

  .inspRemarks {
    padding: 0;
    font-size: .75em;
  }

  .ButtonContainer {
    padding: 1rem 1rem 0 1rem;
  }
}

.SaveCommentButton {
  text-align: center;
  margin: 0 auto;
  min-height: 20px;
  background-color: #3e9571;
  color: white;
  cursor: pointer;
}

.inspection-Table {
  max-height: 78vh;
  max-height: calc(100%-90px);
  overflow-y: auto;
}


.No-Edit {
  cursor: text !important;
  resize: none;
}

[type=checkbox], [type=file], [type=radio] {
  margin: 0 0 0;
}

.remark-text {
  resize: none;
  line-height: 1.25em;
  min-height: 1.5em;
  margin: 0;
  padding: 0;
}

.comment-container {
  display: none;
}


.Comment-Textarea {
  resize: none;
  margin: 0;
  padding: 0;
}

.details-container {
  display: flex;
}

.textbox-div {
  margin-top: 1em;
}

.completed-comments-textarea {
  margin-top: 1em;
}

.App-Container {
  display: flex;
  min-width: 320px;
  max-height: calc(100% - 80px);
  height: calc(100% - 80px);
}

#PermitScreen, #PermitScreen > div {
  height: calc(100% - 104px);
  max-height: calc(100% - 104px);
}

#Inspector {
  height: 100%;
  max-height: 100%;
}

.quick-remark-list {
  border: solid 1px lightgrey;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  overflow-y: auto;
  margin: 0;
}

  .quick-remark-list > li {
    list-style: none;
  }

.change-height-for-print {
  height: 100%;
  max-height: 100%;
}

.tab-no-border {
  border: none;
}
tabs-content{
  border: none !important;
}

textarea::-webkit-input-placeholder {
  color: rgba(175, 0, 0, 0.80);
  font-weight:bold;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(175, 0, 0, 0.80);
  font-weight: bold;
}

textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(175, 0, 0, 0.80);
  font-weight: bold;
}

textarea:-ms-input-placeholder {
  color: rgba(175, 0, 0, 0.80);
  font-weight:bold;
}
@media print {

  @page {
    font-size: 10px !important;
  }
  /* All your print styles go here */
  #header,
  #footer,
  #nav,
  #InspectionSchedulerTabs,
  #inspection_filter_container {
    display: none !important;
  }

  .no-underline-for-print {
    text-decoration: none;
  }
  #inspectorViewInspections {
    -ms-transform: scale(.75,.75) !important;
  }

  body {
    font-size: 10px !important;
  }

  #InspectionSchedulerTabs {
  }

  .App-Container {
    display: flex !important;
    width: auto !important;
    height: auto !important;
  }

  .change-height-for-print {
    height: auto !important;
    max-height: none !important;
    width: 100% !important;
  }

  #PermitScreen {
    min-width: 100% !important;
    height: auto !important;
  }

  .no-page-break {
    page-break-inside: avoid !important;
  }

  .tabs-content {
    border: none !important;
  }
  a{
  text-decoration:none !important;
  }
  a[href]:after {
    content: none !important;

  }
}
